# Ігнорувати папку node_modules
node_modules/

# Ігнорувати файл конфігурації середовища
.env

# Ігнорувати папку з логами
logs/
*.log

# Ігнорувати всі .env файли
.env*

# Ігнорувати тимчасові файли
*~
